# .env.example — safe to upload, no real values

SLACK_TOKEN= asdfkl;aksdj
SLACK_CHANNEL_ID_1=ka;sdj
SLACK_CHANNEL_ID_2=alsdkfj

GEMINI_API_KEY=a;lsdkfj

ADMIN_PANEL_URL=a;lskdfj
GOOGLE_FORM_URL=;alskdfj